<section class='section py-0'>
  <h1 class='is-size-3 has-text-centered'><%= link_to "#{@user.username}'s Posts", @user %></h1>

  <% if current_user == @user %>
    <p class='has-text-centered'>
      What's on your mind?&nbsp;<%= link_to 'Create a Post', new_post_path, data: { turbo: false } %>
    </p>  
  <% end %>
</section>

<section class='section'>
  <% if @posts.size > 0 %>
    <div class='posts-container'>
      <%= render partial: 'posts/post', collection: @posts, as: :post %>
    </div>    
  <% else%>
    <p class='has-text-centered'><%=@user.username%> has never posted anything.</p>
  <% end %>
</section>

<%= render layout: 'shared/page_ranges', locals: { page_ranges: @page_ranges } do |page| %>
  <% user_posts_path(@user, page: page != 1 ? page : nil) %>
<% end %>