<%= turbo_frame_tag likeable.container_id(:like_form), class: 'is-flex is-align-items-center' do %>
  <% if likeable.liked_by?(current_user) %>
    <%= form_with url: [likeable, :likes], method: :delete do |form| %>
      <%= form.hidden_field :likeable_id, value: likeable.id %>
      
      <button type="submit" class='button-link'>
        Unlike
      </button>
    <% end %>
  <% else %>
    <%= form_with url: [likeable, Like.new] do |form| %>
      <%= form.hidden_field :likeable_id, value: likeable.id %>
      
      <button type="submit" class='button-link'>
        Like
      </button>
    <% end %>
  <% end %>
<% end %>