<%= turbo_stream.update 'flash', partial: 'shared/flash' unless flash.empty? %>

<%= turbo_stream.update "#{dom_id(likeable)}_like_form" do %>
  <%= render partial: 'posts/likes/form', locals: { likeable: likeable } %>
<% end %>

<%= turbo_stream.update "#{dom_id(likeable)}_likes_count" do %>
  <span class="is-justify-content-end"><%= likeable.likes.size %> Likes</span>
<% end %>