<%= turbo_frame_tag dom_id(notification) do %>
  <% comment = notification.notifiable %>
  <% owner_preview = (comment.top_level? ? comment.post.content : comment.parent_comment.message).first(10) + '...' %>
  <p><%= comment.user.username %> commented <%= comment.message.first(10) %>... <%= time_ago_in_words(comment.created_at) %> ago on your <%= comment.owner.class %> <%= owner_preview %></p>

  <%= render partial: 'notifications/shared/interaction_links', locals: { notification: notification } %>
<% end %>