<% comment = notification.notifiable %>

<p class='mb-2'>
  <%= link_to comment.user.username, user_path(comment.user) %> commented <%= time_ago_in_words(comment.created_at) %> ago on your <%= link_to comment.owner.class, comment.owner %>
  <br>

  <% if comment.message.length >= 40 %>
    <%= comment.message.first(40) %>...  
  <% else %>
    <%= comment.message %>
  <% end %>
</p>

<%= render partial: 'notifications/shared/interaction_links', locals: { notification: notification } %>