<% if comment.persisted? %>
  <div class="comment-container">
    <%= prefix unless prefix.nil? %>

    <%= comment.user.username %> 
    says: <%= comment.message %> 
    at <%= comment.created_at %>
     | <%= link_to 'Reply', new_comment_path(comment: {post_id: comment.post_id, parent_comment_id: comment.id}) %>
     <%= link_to 'Edit', edit_comment_path(comment) if comment.user == current_user %>
 
    <% if comment.comments %>
      <%= render partial: 'comments/comment', collection: comment.comments, locals: { prefix: ('-' * (prefix.length + 2)) } %>  
    <% end %>
  </div>
<% end %>