<div class="comment-container is-flex is-flex-direction-column mb-2" id=<%= dom_id(comment) %>>
  <div class="is-flex">
    <span class="is-flex-shrink-0" style="width: <%= comment.indent_pixels %>px"></span>

    <div class="image is-<%= comment.avatar_size %>x<%= comment.avatar_size %> is-flex-shrink-0">
      <img class="is-rounded" src="<%= gravatar_url(comment.user.email, comment.avatar_size)%>" alt="">
    </div>
    
    <div class="is-flex is-flex-direction-column is-flex-grow-1 is-flex-shrink-1 ml-2">
      <div class="border-curved has-background-grey-dark p-2 is-flex is-flex-direction-column">
        <p><%= comment.user.username %></p>
        <p class="is-word-break-all"><%= comment.message %></p>

        <div class="is-size-smaller is-flex gap-1 is-flex-wrap-wrap">
          <p>Like</p>
          <p>
            <%= link_to 'Reply', new_comment_path(comment: {post_id: comment.post_id, parent_comment_id: comment.id, display_depth: comment.display_depth + 1}), 
              class: 'is-text', method: :get, data: { turbo_stream: true } %>
          </p>

          <% if comment.user == current_user %>
            <p><%= link_to 'Edit', edit_comment_path(comment) if comment.user == current_user %></p>
          <% end %>
          <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
          <p>
            <%= turbo_frame_tag comment.comments_counter_container_id do %>
              <%= comment.comments.size %>
            <% end %>
            Replies
          </p>
        </div>
      </div>

      <%= turbo_frame_tag comment.comment_form_id %>
    </div>
  </div>
</div>

<%= turbo_frame_tag comment.new_comments_container_id %>  

<div>
  <%= turbo_frame_tag comment.comments_container_id do %>  
    <% if comment.display_comments? %>
      <%= render partial: 'comments/comment', collection: comment.display_comments, as: :comment %>  
    <% end %>
  <% end %>
</div>

<% if comment.not_displayed_comments? %>
  <div class="is-flex">
    <span class="is-flex-shrink-0" style="width: <%= comment.load_comments_link_indent_pixels %>px"></span>

    <span class="is-size-smaller">
      <% if comment.max_display_depth? %>
        <%= link_to comment.load_comments_link_text, comment_path(comment), data: { turbo: false } %>
      <% else %>
        <%= link_to comment.load_comments_link_text, 
          load_path(comment_id: comment.id, displayed_count: comment.displayed_comments_count, display_depth: comment.display_depth + 1, older_than: comment.oldest_display_comment), 
          id: comment.load_comments_link_id,  method: :get, data: { turbo_stream: true } %>
      <% end %>
    </span>
  </div>
<% end %>