<div class="comment-container is-flex is-flex-direction-column">
  <div class="is-flex">
    <% spacer_width = spacer_count * 32 %>
    <span class="is-flex-shrink-0" style="width: <%= spacer_width %>px"></span>

    <div class="image is-<%= avatar_size %>x<%= avatar_size %> is-flex-shrink-0 <%= 'ml-2' unless comment.top_level? %>">
      <img class="is-rounded" src="<%= gravatar_url(comment.user.email, avatar_size)%>" alt="">
    </div>
    
    <div class="is-flex is-flex-direction-column is-flex-grow-1 is-flex-shrink-1 mb-2 ml-2">
      <div class="border-curved has-background-grey-dark p-2 is-flex is-flex-direction-column">
        <p><%= comment.user.username %></p>
        <p class="is-word-break-all"><%= comment.message %></p>

        <div class="is-size-smaller is-flex gap-1 is-flex-wrap-wrap">
          <p>Like</p>
          <p><%= link_to 'Reply', new_comment_path(comment: {post_id: comment.post_id, parent_comment_id: comment.id}), class: 'is-text' %></p>
          <% if comment.user == current_user %>
            <p><%= link_to 'Edit', edit_comment_path(comment) if comment.user == current_user %></p>
          <% end %>
          <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
          <p><%= comment.comments.size %> Replies</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag id="comment_#{comment.id}_comments" do %>  
  <% if comment.display_comments? %>
    <%= render partial: 'comments/comment', collection: comment.display_comments, as: :comment, locals: { spacer_count: spacer_count + 1, avatar_size: 24 } %>  
  <% end %>
<% end %>

<% if spacer_count >= 2 && comment.not_displayed_comments?  %>
  <div class="pl-2 is-flex">
    <span class="is-flex-shrink-0" style="width: <%= spacer_width + avatar_size %>px"></span>
    
    <div class="pl-2"><span class="is-size-smaller"><%= link_to "\u2937 Continue Conversation", comment_path(comment), data: {turbo: false} %></div>
  </div>  
<% else %>
  <% if comment.not_displayed_comments? %>
    <div class="pl-2 is-flex">
      <span class="is-flex-shrink-0" style="width: <%= spacer_width + avatar_size %>px"></span>
      <div class="pl-2">
        <span class="is-size-smaller">
        <% depth = comment.top_level? ? 1 : 2 %>
          <%= link_to "\u2937 #{comment.not_displayed_comments_count} More Replies", 
          comments_path(displayed_count: comment.displayed_comments_count, depth: depth, parent_comment: comment, older_than: comment.oldest_display_comment), 
          id: "#{dom_id(comment)}_load_previous",  method: :get, data: { turbo_stream: true } %>
        </span>
      </div>
    </div>  
  <% end %>
<% end %>