<section class="section">
  <div class="post-container border-light border-curved is-flex is-flex-direction-column mx-auto p-2">
    <%= render partial: "posts/stackable_components/post_header", locals: { post: post } %>
    <%= render partial: "posts/stackable_components/content", locals: { post: post } %>
    <%= render partial: "posts/stackable_components/interaction_counters", locals: { post: post } %>

    <hr class="my-0 has-background-grey">

    <%= render partial: "comments/thread/parent_comment_link", locals: { comment: post.display_comments.first } %>

    <%= turbo_frame_tag post.container_id(:comments) do %>
      <% post.display_comments.each do |comment| %>
        <%= render partial: 'comments/thread/comment', locals: { comment: comment, avatar_size: comment.avatar_size } %>  
      <% end %>
    <% end %>
  </div>
</section>