<div class="modal is-active" data-controller='toggleable' data-toggleable-change-class='is-active' data-toggleable-target="toggle">
  <div class="modal-background" data-action="click->toggleable#toggle"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-black-ter is-justify-content-space-between">
      <span class='is-flex is-justify-content-flex-start is-align-items-center'>
        <span class="modal-card-title has-text-grey-lighter">
          Notifications |
        </span>

        <% if params[:filters].present? && params[:filters][:unread] == 'true' %>
          <%= button_to 'Include Previously Read', notifications_path, method: :get, data: { turbo_stream: true }, class: 'button is-small is-dark ml-2' %>
        <% else %>
          <%= button_to 'Unread Only', notifications_path, params: { filters: { unread: true } }, method: :get, data: { turbo_stream: true }, class: 'button is-small is-dark ml-2' %>
        <% end %>
      </span>

      <button class="delete is-justify-content-flex-end has-background-grey" aria-label="close" data-action="click->toggleable#toggle"></button>
    </header>

    <section class="modal-card-body has-background-black-ter has-text-grey-lighter">
      <% notifications.each do |notification| %>
        <%= turbo_frame_tag "#{dom_id(notification)}_container" do %>
          <%= turbo_frame_tag dom_id(notification) do %>
            <% if notification.notifiable %>
              <%= render partial: "notifications/modal_cards/#{notification.notifiable_type.underscore}_notification",  
                locals: { notification: notification, last: notifications.last.eql?(notification) } %>  
            <% else %>
              <%= render partial: "notifications/modal_cards/nil_notification", locals: { notification: notification } %>
            <% end %>
          <% end %>

          <% unless notifications.last.eql?(notification) %>
            <hr class='has-background-grey'>
          <% end %>
        <% end %>
      <% end %>

      <%= turbo_frame_tag 'notifications_placeholder' do %>
        <% if notifications.empty? %>
          <p>No notifications.</p>
        <% end %>
      <% end %>
    </section>

    <% unless @pagination.current_page_number == @pagination.last_page_number %>
      <footer class="modal-card-foot has-background-black-ter has-text-grey-lighter is-flex is-justify-content-end">
        <%= button_to 'More', notifications_path, params: @filters.merge(page: @pagination.current_page_number, filters: { oldest: notifications.last.id } ),
          data: { turbo_stream: true }, class: 'button is-success mr-0', method: :get %>
      </footer>
    <% end %>
  </div>
</div>