<h2 class='is-size-3 has-text-centered mb-3'>Forgot your password?</h2>
<div class='columns is-centered px-4'>
  <div class='column border-curved border-light is-half'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>

<div class='columns is-centered px-4'>
  <div class='column is-half'>
    <%= render "devise/shared/links" %>
  </div>
</div>
