<div class="is-flex">
  <%= form_with model: comment, class: "is-flex is-flex-grow-1 my-2" do |form| %>
    <%= form.text_field :message, class: "input is-static is-flex-grow-1 has-background-grey-dark has-text-grey-lighter border-curved", required: true, active: true %>
    <%= form.hidden_field :post_id, value: comment.post_id %>
    <%= form.hidden_field :parent_comment_id %>

    <% if false %>
      <%= form.hidden_field :soft_deleted %>  
    <% end %>

    <%= hidden_field_tag "display[depth]", comment.display_depth %>

    <% button_text = comment.persisted? ? 'Update' : 'Comment' %>
    <%= form.submit button_text, class: "button p-2 ml-2 is-dark border-curved", data: { turbo: comment.displayable? } %>
  <% end %>  
</div>