<div class="is-flex is-justify-content-space-between">
  <% if post.liked_by?(current_user)%>
    <%= render partial: 'posts/likes/unlike_form', locals: { likeable: post } %> 
  <% else %>
    <%= render partial: 'posts/likes/like_form', locals: { likeable: post } %>
  <% end %>

  <% if post.user == current_user %>
    <span class="is-flex is-align-items-center">
      <%= link_to edit_post_path(post), class: 'is-flex is-align-items-center' do %>
        <span class="material-symbols-rounded">edit</span>
        <span class='ml-1'>Edit</span>
      <% end %>
      &nbsp;|&nbsp;
      
      <%= render partial: "posts/post/delete_link", locals: { post: post } %>
    </span>
  <% end %>
    
  <span class='is-flex is-align-items-center'>
    <%= link_to new_comment_path(comment: { post_id: post.id }, display: { depth: 0 }), method: :get, data: { turbo_stream: true }, class: 'is-flex is-align-items-center' do %>  
      <span class="material-symbols-rounded">mode_comment</span>
      <span class='ml-1'>Comment</span>
    <% end %>
  </span>
</div>