<% puts "********* rendering post: #{post.id}" %>
<hr>
<div>
  <p id=<%= dom_id(post) %>><%= post.content %></p>
    <%= render partial: 'likes/form', locals: { like: Like.new, post: post } %>  
    Likes: <%= post.likes.size %>  
    
  <%= render partial: 'comments/form', locals: { comment: post.comments.build } %>

  Comments

<% post.comments.each do |comment| %>
  <% if comment.top_level?%>
    <%= render partial: 'comments/comment', locals: { comment: comment, prefix: '' } %>  
  <% end %>
<% end %>
  
</div>