<div class="post-container border-light border-curved is-flex is-flex-direction-column mx-auto p-2">
  <div class="is-flex mb-4">
    <div class="image is-48x48"><img class="is-rounded" src="<%= gravatar_url(post.user.email, 48)%>" alt=""></div>
    <div class="is-flex is-flex-direction-column ml-2">
      <p><%= post.user.username %></p>
      <p><%= post.created_at %></p>
    </div>
  </div>

  <p class="mb-2"><%= post.content %></p>

  <div class="is-flex is-justify-content-space-between">
    <p><%= post.likes.size %> Likes</p>
    <p><%= post.comments.size %> Comments</p>
  </div>

  <hr class="my-0 has-background-grey">

  <div class="is-flex is-justify-content-space-between">
  <%= render partial: 'likes/form', locals: { like: Like.new, post: post } %>
    
    <p>Comment</p>
  </div>

  <hr class="my-0 has-background-grey">
  
  <p class="is-flex is-justify-content-flex-end">&#9660; All Comments</p>
  <% post.display_comments.each do |comment| %>
    <% if comment.top_level? %>
      <% if false %>
        <%= render partial: 'comments/comment', locals: { comment: comment, spacer_count: 0, avatar_size: 32 } %>  
        <%= render partial: 'comments/comment', collection: comment.display_comments, locals: { spacer_count: spacer_count + 1, avatar_size: 24 } %>  
      <% end %>
      
      <%= render partial: 'comments/comment', locals: { comment: comment, spacer_count: 0, avatar_size: 24 } %>  
    <% end %>
  <% end %>

  <%= render partial: 'comments/form', locals: { comment: post.comments.build } %>
  
</div>