<div class="post-container border-light border-curved is-flex is-flex-direction-column mx-auto p-2">
  <div class="is-flex mb-4">
    <div class="image is-48x48"><img class="is-rounded" src="<%= gravatar_url(post.user.email, 48)%>" alt=""></div>
    <div class="is-flex is-flex-direction-column ml-2">
      <p><%= post.user.username %></p>
      <p><%= post.created_at %></p>
    </div>
  </div>

  <p class="mb-2"><%= post.content %></p>

  <div class="is-flex is-justify-content-space-between">
    <p><%= post.likes.size %> Likes</p>
    <p><%= post.comments.size %> Comments</p>
  </div>

  <hr class="my-0 has-background-grey">

  <div class="is-flex is-justify-content-space-between">
    <%= render partial: 'likes/form', locals: { like: Like.new, post: post } %>
    <p>Comment</p>
  </div>

  <hr class="my-0 has-background-grey">

  <div class="is-flex is-justify-content-space-between">
    <% if post.display_comments? %>
      <%= link_to "View #{post.remaining_comments_count} Previous", comments_path(id: post.first_displayed.id, displayed_count: post.displayed_comments_count), id: 'load_previous_link',  method: :get, data: { turbo_stream: true }%>
    <% else %>
      <span></span>
    <% end %>
    
    <p class="is-flex is-justify-content-flex-end">&#9660; All Comments</p>
  </div>
    
  <%= turbo_frame_tag id="post_#{post.id}_comments" do %>
    <% post.display_comments.each do |comment| %>
      <% if comment.top_level? %>
        <%= render partial: 'comments/comment', locals: { comment: comment, spacer_count: 0, avatar_size: 24 } %>  
      <% end %>
    <% end %>
  <% end %>

  <%= render partial: 'comments/form', locals: { comment: post.comments.build } %>
  
</div>