<!DOCTYPE html>
<html>
  <head>
    <title>OdinBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='site'>
    <%= render partial: 'shared/nav' if user_signed_in? %>
    <%= render partial: 'shared/flash' %>

    <main class='site-content'>
      <%= yield %>
    </main>

    <%= render partial: 'shared/footer' if user_signed_in? %>
  </body>
</html>
